.block-grid {

   &__body {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 8px;

      @media (min-width:1024px) {
         grid-template-columns: repeat(2, 1fr);
      }
   }

   .columns-3 {
      @media (min-width:768px) {
         grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width:1024px) {
         grid-template-columns: repeat(3, 1fr);
      }
   }

   .columns-4 {

      @media (min-width:1250px) {
         grid-template-columns: repeat(4, 1fr);
      }
   }
}