.catalog {
   &__first-screen-header {
      max-width: 800px;
   }

   &__first-screen-title {
      margin-bottom: 16px;

      @media (min-width:1024px) {
         margin-bottom: 24px;
      }
   }
}