.catalog {
   &__first-screen-header {
      max-width: 500px;
   }

   &__first-screen-title {
      margin-bottom: 16px;

      @media (min-width:1024px) {
         margin-bottom: 24px;
      }
   }

   &__first-screen-registry {
      @media (max-width:1023.98px) {
         align-self: flex-end;
      }
   }


}




.catalog-section {

   &__container {}

   &__button {
      margin-bottom: 24px;

      @media (min-width:1024px) {
         max-width: 272px;
         margin-bottom: 40px;
      }
   }
}