.customer-feedback {

   &__container {}

   &__body {
      display: flex;
      flex-direction: column;
      gap: 8px;

      @media (min-width:1024px) {
         flex-direction: row;
      }
   }

   &__content {
      flex: 0 0 61.3%;
      padding: 40px 16px;
      color: var(--color-black);
      background-color: var(--color-lavender);
      border-radius: 16px;
      overflow: hidden;

      .theme-light & {
         background-color: var(--color-light-bg-container);
      }

      &>*:not(:last-child) {
         margin-bottom: 40px;
      }

      @media (min-width:1024px) {
         order: 1;
         padding: 40px;
         border-radius: 24px;
      }
   }

   &__title {
      font-size: 32px;
      line-height: 100%;
      letter-spacing: -0.02em;

      @media (min-width:1024px) {
         font-size: 56px;
      }
   }

   &__text {
      font-weight: 300;
      font-size: 16px;
      line-height: 125%;

      @media (min-width:1024px) {
         font-size: 18px;
      }

      p {
         &:not(:last-child) {
            margin-bottom: 40px;
         }
      }
   }

   &__person {
      font-size: 14px;
      line-height: 112%;
      color: var(--color-black-06);

      @media (min-width:1024px) {
         font-size: 16px;
      }
   }

   &__download {
      @media (min-width:1024px) {
         --button-height: 64px;
      }
   }

   &__image {
      flex: 1 1 auto;
      align-self: stretch;
      position: relative;
      border-radius: 16px;
      overflow: hidden;
      min-height: 50vw;

      @media (min-width:1024px) {
         order: 2;
         min-height: auto;
         border-radius: 24px;
      }

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}