.description {
   position: relative;
   overflow: hidden;

   .theme-light & {
      background-color: var(--color-black);
   }

   &__background {
      position: absolute;
      top: -1px;
      left: 0;
      width: 100%;
      height: calc(100% + 5px);
      overflow: hidden;
      background: url("../img/webp/background-3.webp") no-repeat center / 100% 100%;

      .theme-light & {
         border-radius: 48px 48px 0 0;
         background: var(--gray-bg) url("../img/webp/background-3-1.webp") no-repeat center / 100% 100%;
         overflow: hidden;
      }
   }

   &__container {}

   &__body {
      padding-top: 64px;
      padding-bottom: 96px;

      @media (min-width:1024px) {
         padding: 200px 120px 500px;
      }
   }

   &__block {
      position: relative;
      z-index: 1;
      max-width: 45%;

      &:not(:last-child) {
         margin-bottom: 80px;
      }

      @media (min-width:1024px) {
         max-width: 400px;

         &:not(:last-child) {
            margin-bottom: 50px;
         }

         &:nth-child(even) {
            margin-left: auto;
         }
      }
   }

   &__block-title {
      margin-bottom: 24px;
      font-weight: 500;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: -0.03em;
      color: var(--color-periwinkle-crayola);

      // white-space: pre;
      .theme-light & {
         color: var(--color-blackish-blue);
      }

      @media (min-width:1024px) {
         font-size: 32px;
      }

      // span,
      // div 
      .color {
         white-space: pre;
         color: var(--color-orange);
      }

   }

   &__block-text {
      font-weight: 300;
      font-size: 14px;
      line-height: 122%;
      color: var(--color-silver-grey);
      opacity: 0;
      transition: opacity var(--tr, 0.3s) var(--tr, 0.3s);

      @media (min-width:1024px) {
         font-size: 18px;
      }

      .theme-light & {
         color: var(--color-blackish-blue);
      }


      .text-animate-grow-show & {
         opacity: 1;
      }

   }
}