.input-text {
   padding: 20px 0 0;
   position: relative;
   display: block;
   font-weight: 400;
   font-size: 18px;
   line-height: 111%;
   color: var(--color-black-06);
   // border-bottom: 1px solid var(--color-black-02);
   transition: color 0.3s;

   textarea {
      height: 136px;
      resize: none;
   }

   textarea,
   input {
      margin-bottom: 16px;
      padding-bottom: 12px;
      display: block;
      width: 100%;
      font-size: inherit;
      color: inherit;
      transition: color 0.3s;
      border-bottom: 1px solid var(--color-black-02);

      &:focus {
         font-weight: 500;
         color: var(--color-black);
      }

      // &:invalid {
      //    color: var(--color-scarlet);
      //    border-color: var(--color-scarlet);
      // }

   }


   &.input-dark {
      color: var(--color-silver-grey);

      textarea {
         height: 88px;

         @media (min-width:1024px) {
            margin-bottom: 24px;
            height: 92px;
         }
      }

      textarea,
      input {
         border-bottom: 1px solid var(--color-periwinkle-crayola-02);

         @media (min-width:1024px) {
            margin-bottom: 24px;
         }

         &:focus {
            font-weight: 500;
            color: var(--color-periwinkle-crayola);
         }
      }

      &:hover {

         textarea,
         input {
            color: var(--color-periwinkle-crayola)
         }

         textarea:placeholder-shown~.input-placeholder,
         input:placeholder-shown~.input-placeholder {
            color: var(--color-periwinkle-crayola)
         }
      }
   }

   &:hover {

      textarea,
      input {
         color: var(--color-black);
      }

      textarea:placeholder-shown~.input-placeholder,
      input:placeholder-shown~.input-placeholder {
         color: var(--color-black);
      }
   }

   // textarea:not(:placeholder-shown):invalid,
   // input:not(:placeholder-shown):invalid {
   //    color: var(--color-scarlet);
   //    border-color: var(--color-scarlet);

   //    &~.input-error {
   //       display: block;
   //    }
   // }

   textarea:not(:placeholder-shown)~.input-placeholder,
   input:not(:placeholder-shown)~.input-placeholder,
   textarea:focus~.input-placeholder,
   input:focus~.input-placeholder {
      top: 0;
      font-size: 12px;
   }

   .input-placeholder {
      position: absolute;
      top: 20px;
      left: 0;
      // transform: translateY(-50%);
      transition: all 0.3s;
   }

   .input-error {
      position: absolute;
      top: 20px;
      right: 0;
      color: var(--color-scarlet);
      display: none;
   }

   &__remove-margin {
      // margin-bottom: 0;

      input {
         margin-bottom: 0;
      }
   }
}

.input-file {
   cursor: pointer;
   margin-bottom: 64px;
   display: flex;
   align-items: center;
   gap: 12px;

   @media (min-width:1024px) {
      gap: 16px;
   }

   input {
      display: none;
   }

   svg,
   img {
      width: 24px;

      @media (min-width:1024px) {
         width: 32px;
      }
   }

   &__text {
      font-weight: 400;
      font-size: 12px;
      line-height: 122%;

      @media (min-width:1024px) {
         max-width: 244px;
         font-size: 18px;
      }
   }
}

.form {

   &__basis {
      padding: 16px;
      border-radius: 16px;
      background-color: var(--color-lavender);

      @media (min-width:768px) {
         padding: 24px;
      }

      @media (min-width:1024px) {
         border-radius: 24px;
         padding: 40px;
      }
   }

   &__title {
      margin-bottom: 64px;
      font-weight: 500;
      font-size: 32px;
      line-height: 100%;
      letter-spacing: -0.03em;

      @media (min-width:1024px) {
         font-size: 56px;
         font-weight: 400;
      }

   }

   &__group {
      display: flex;
      flex-direction: column;
      gap: 64px;

      @media (min-width:1024px) {
         flex-direction: row;
         gap: 40px;
         --button-max-width: 330px;
         --button-height: 64px;
      }

      .input-text {
         width: 100%;
      }

   }

   &__submit {
      --button-max-width: 330px;
   }

   &__search {
      --button-max-width: 195px;
   }
}



.checkbox-body {
   display: flex;
   gap: 12px;
}

.checkbox-input {
   display: none;

   &:checked+.checkbox-item svg {
      display: block;
   }
}

.checkbox-item {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 24px;
   min-width: 24px;
   height: 24px;
   min-height: 24px;
   border-radius: 4px;
   background-color: var(--color-periwinkle-crayola);

   svg {
      display: none;
   }
}