.form-section {

   .form__title {
      @media (min-width:1024px) {
         margin-bottom: 48px;
      }
   }

   &__container {}

   &__body {
      display: flex;
      flex-direction: column;
      gap: 8px;

      @media (min-width:768px) {
         flex-direction: row;
      }
   }

   &__request {
      flex: 1 1 auto;
   }

   &__expert {
      flex: 0 0 38%;
      display: flex;
      flex-direction: column;
      gap: 24px;
      min-height: 460px;
      font-size: 14px;
      line-height: 122%;
      color: var(--color-black-06);

      @media (min-width:1024px) {
         font-size: 18px;
      }
   }

   &__expert-avatar {
      img {
         width: 128px;
         overflow: hidden;
         border-radius: 8px;
      }
   }

   &__expert-name {
      font-weight: 500;
      font-size: 20px;
      line-height: 110%;
      letter-spacing: -0.03em;
      color: var(--color-black);

      @media (min-width:1024px) {
         font-size: 32px;
      }
   }

   &__expert-text {
      flex: 1 1 auto;
      display: flex;
      align-items: center;

      a {
         color: var(--color-black);
      }
   }

   &__button {
      .button {
         margin-left: auto;
      }
   }
}