.info-card {
   &__cell {
      padding: 8px;
      display: flex;
      flex-direction: column;
      border-radius: 16px;
      background-color: var(--color-blackish-blue);
      overflow: hidden;

      .theme-light .mark-light & {
         background-color: var(--color-light-bg-container);
      }

      .blur-section &,
      .dark-section & {
         background-color: var(--color-black);
      }

      &:hover {
         .info-card__icon-item {
            opacity: 1;
         }
      }
   }

   &__image {
      position: relative;
      padding-bottom: 73.239%;
      overflow: hidden;
      border-radius: 8px;

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__block {
      flex: 1 1 auto;
      margin-top: 16px;
      padding: 16px;
      display: flex;
      gap: 16px;
   }

   &__content {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
   }

   &__name {
      font-size: 18px;
      line-height: 122%;
      color: var(--color-periwinkle-crayola);

      .theme-light .mark-light & {
         color: var(--color-blackish-blue);
      }
   }

   &__text {
      flex: 1 1 auto;
      display: flex;
      align-items: flex-end;
      margin-top: 16px;
      font-size: 16px;
      line-height: 112%;
      color: var(--color-silver-grey);

      .theme-light .mark-light & {
         color: var(--color-pigeon-blue);
      }

   }

   &__icon {
      align-self: flex-end;
   }

   &__icon-item {
      --size-icon: 40px;

      ._pc & {
         opacity: 0;
         transition: opacity 0.3s;
      }
   }
}