.information {
   // margin-bottom: 8px;

   // &__container {}

   // &__title {
   //    max-width: 191px;
   // }

   // &__grid {
   //    display: grid;
   //    grid-template-columns: 1fr;
   //    grid-auto-rows: 1fr;
   //    gap: 8px;

   //    @media (min-width:1024px) {
   //       grid-template-columns: 1fr 1fr;
   //    }

   //    &.triple {
   //       @media (min-width:1200px) {
   //          grid-template-columns: 1fr 1fr 1fr;
   //       }
   //    }

   // }

   &__cell {
      a {
         padding: 8px;
         height: 100%;
         display: flex;
         flex-direction: column;
         border-radius: 16px;
         overflow: hidden;
         background-color: var(--color-lavender);

         .theme-light .mark-light & {
            background-color: var(--color-light-bg-container);
         }
      }


      &:hover {
         .information__image-logo {
            opacity: 1;
         }
      }
   }

   &__cell-content {
      padding-left: 8px;
      padding-right: 8px;
      padding-bottom: 8px;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;

      @media (min-width:1024px) {
         padding-left: 24px;
         padding-right: 24px;
         padding-bottom: 24px;
      }
   }

   &__image {
      margin-bottom: 32px;
      padding-bottom: 58.3%;
      position: relative;
      border-radius: 8px;
      overflow: hidden;

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__image-logo {
      z-index: 1;
      opacity: 0.7;
      transition: opacity 0.3s;
   }

   &__cell-tags {
      margin-bottom: 16px;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      span {
         padding: 6px 12px;
         display: flex;
         align-items: center;
         justify-content: center;
         min-height: 24px;
         border: 1px solid #b6b8c5;
         border-radius: 4px;
         font-size: 14px;
         line-height: 112%;

         @media (min-width:1024px) {
            min-height: 32px;
            font-size: 16px;
         }
      }
   }

   &__cell-title {
      flex: 1 1 auto;
      margin-bottom: 24px;
      font-weight: 500;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: -0.03em;

      @media (min-width:1024px) {
         margin-bottom: 40px;
         font-size: 32px;
      }
   }
}