.menu-contacts {

   &__container {}

   &__shell {
      @media (min-width:1024px) {
         display: flex;
         gap: 20px;
      }

      &>*:nth-child(1),
      &>*:nth-child(3) {
         flex: 1 1 10%;
      }
   }

   &__close {
      margin-left: auto;
      --size-icon: 40px;

      @media (min-width:1024px) {
         --size-icon: 56px;
      }

   }

   &__body {
      display: grid;
      grid-template-columns: 1fr;
      gap: 8px;

      @media (max-width:1023.98px) {
         padding-bottom: 24px;
         height: calc(var(--vh) - 56px);
         overflow-y: auto;
      }

      @media (min-width:1350px) {
         grid-template-columns: 0.8fr 1fr;
      }
   }

   &__contacts {
      margin-top: 56px;
      display: flex;
      justify-content: space-between;

      @media (max-width:1023.98px) {
         background-color: var(--color-blue-alice);
      }

      @media (min-width:1024px) {
         margin-top: 0;
         flex-direction: column;
         min-height: 143px;
         order: 1;
      }
   }

   &__contacts-email {
      font-weight: 500;
      font-size: 12px;

      @media (min-width:1024px) {
         font-size: 16px;
      }
   }

   &__contacts-tel {
      font-weight: 500;
      font-size: 16px;

      @media (min-width:1024px) {
         font-size: 24px;
      }
   }

   &__address {
      display: flex;
      flex-direction: column;

      @media (max-width:1023.98px) {
         background-color: var(--color-blue-alice);
      }

      @media (min-width:1024px) {
         order: 3;
      }
   }

   &__addres-title {
      margin-bottom: 12px;
      font-size: 16px;
      line-height: 112%;
      color: var(--color-black-06)
   }

   // &__addres-block {
   //    display: flex;

   //    &>* {
   //       flex: 0 0 50%;
   //    }
   // }

   &__address-text {
      margin-bottom: 24px;
      font-weight: 500;
      font-size: 16px;
      line-height: 112%;
   }

   &__button {
      flex: 1 1 auto;
      display: flex;
      align-items: flex-end;

      @media (max-width:1023.98px) {
         margin-top: 16px;
      }

      .button {
         margin-top: 44px;
      }
   }

   &__form {
      display: flex;
      flex-direction: column;
      // background-color: var(--color-lavender);

      @media (max-width:1023.98px) {
         padding: 0;
      }

      @media (min-width:1024px) {
         grid-row: span 2;
         order: 2;
      }
   }
}