.menu {

   &__container {}

   &__shell {
      // padding-top: 56px;

      @media (min-width:1024px) {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   }

   &__close {
      margin-left: auto;
      --size-icon: 40px;

      @media (max-width:1023.98px) {
         --button-border-radius: 12px;
      }

      @media (min-width:1024px) {
         margin: 0 auto 24px;
         --size-icon: 56px;
      }
   }

   &__body {
      padding-bottom: 24px;
      background-color: var(--color-lavender);
      width: 100%;

      @media (max-width:1023.98px) {
         height: calc(var(--vh) - 56px);
         overflow-y: auto;
      }

      @media (min-width:1024px) {
         max-width: 1029px;
         padding: 48px;
         border-radius: 16px;
         display: flex;

      }
   }

   &__list {
      margin-bottom: 78px;
      flex: 1 1 auto;

      @media (min-width:1024px) {
         margin-bottom: 0;
         columns: 2;
      }

      li {
         list-style: none;
      }
   }

   &__link {
      margin-right: 40px;
      margin-bottom: 12px;
      display: block;
      font-weight: 500;
      font-size: 16px;
      transition: color 0.3s;

      @media (min-width:1024px) {
         font-size: 18px;
      }

      &:hover {
         color: var(--color-orange);
      }
   }

   &__download {
      display: block;
      flex: 0 0 243px;
      border-radius: 12px;
      background-color: var(--color-blue-alice);
   }

   &__download-image {
      padding: 8px 8px 0;
   }

   &__download-image-shell {
      position: relative;
      padding-bottom: 63.436%;
      border-radius: 8px;
      overflow: hidden;

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__download-button {
      padding: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;

      @media (min-width:1024px) {}
   }

   &__download-button-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 122%;
   }
}