@use '../assets/mixin.scss' as *;
@use '../assets/variablesSCSS.scss' as *;

// .mobile-menu {
//    position: fixed;
//    top: 0;
//    left: 0;
//    height: var(--vh);
//    width: 100%;


//    background-color: var(--color-white);
// }


.mobile-menu {

   &__button-contact {
      padding-top: 24px;
      padding-bottom: 32px;
      position: fixed;
      z-index: 2;
      bottom: 0;
      left: 0;
      width: 100%;
      pointer-events: none;

      &>* {
         pointer-events: all;
      }

      .header__button-contact {
         --button-max-width: 100%;
         --button-background: var(--color-lavender);
         --button-color: var(--color-black);
      }

   }

   &__group-buttons {
      display: flex;
      align-items: center;
      gap: 8px;
      text-align: center;

      a,
      button {
         padding: 5px;
         justify-content: center;
      }

      .button-icon {
         display: none;
      }

      .button-back,
      .header__button-contact {
         background-color: var(--color-black);
         border: 1px solid var(--color-periwinkle-crayola-03);
         color: var(--color-periwinkle-crayola);
      }

      &>*:not(.button-back) {
         flex: 1 1 10%;
      }
   }
}