.news {
   @media (min-width:1024px) {
      padding-top: 40px;
   }

   &__container {}

   &__body {
      padding: 8px 8px 40px;
      border-radius: 16px;
      overflow: hidden;
      background-color: var(--color-blackish-blue);

      @media (min-width:1024px) {
         padding: 8px 8px 120px;
         border-radius: 24px;
      }
   }

   &__image {
      // position: relative;
      // padding-bottom: 39.607%;
      margin-bottom: 24px;
      border-radius: 16px;
      overflow: hidden;

      img {
         // position: absolute;
         // top: 50%;
         // left: 50%;
         // transform: translate(-50%, -50%);
         // height: 100%;
         // object-fit: cover;
         width: 100%;
      }
   }

   &__back {
      margin-left: 16px;
      margin-bottom: 40px;

      @media (min-width:1024px) {
         margin-bottom: 32px;
      }
   }

   &__content {
      margin: 0 auto;
      max-width: 800px;
   }

   &__date {
      margin-bottom: 24px;
      padding: 3px 8px;
      display: inline-flex;
      align-items: center;
      min-height: 32px;
      font-size: 14px;
      line-height: 112%;
      color: var(--color-periwinkle-crayola);
      border: 1px solid var(--color-blue-crayola-cadet);
      border-radius: 4px;

      @media (min-width:1024px) {
         padding: 6px 12px;
         font-size: 16px;
      }
   }

   &__title {
      margin-bottom: 32px;
      font-size: 32px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: var(--color-periwinkle-crayola);

      @media (min-width:1024px) {
         font-size: 56px;
         margin-bottom: 64px;
      }
   }

   &__text {
      font-weight: 300;
      font-size: 14px;
      line-height: 122%;
      color: var(--color-silver-grey);

      @media (min-width:1024px) {
         font-size: 18px;
      }

      p:not(:last-child) {
         margin-bottom: 16px;

         @media (min-width:1024px) {
            margin-bottom: 24px;
         }
      }
   }
}