.presentation {
   height: var(--vh);
   background: linear-gradient(180deg, rgba(12, 16, 20, 0) 0%, #0c1014 100%), url("../img/jpg/background-1.jpg") no-repeat top / cover;
   display: flex;
   flex-direction: column;

   &__container {
      position: relative;
      z-index: 1;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
   }

   &__title {
      font-size: 304px;
      line-height: 93%;
      letter-spacing: -0.06em;
      text-transform: uppercase;
      color: var(--color-lavender);
   }

   &__footer {
      padding-bottom: 28px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      font-weight: 300;
      font-size: 16px;
      line-height: 112%;
      color: var(--color-silver-grey);
   }

   &__footer-text {
      max-width: 232px;
   }

   &__footer-registry {
      display: flex;
      align-items: center;
      gap: 16px;
      max-width: 300px;

      img {
         width: 40px;
      }
   }

   &__footer-arrow {
      width: 56px;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #eeeff5;
      border-radius: 12px;
   }
}