@use '../assets/mixin.scss' as *;
@use '../assets/variablesSCSS.scss' as *;

.product-description {
   margin-bottom: 0;

   .theme-light & {
      background: url('../img/webp/background-3-2.webp') center/ 100% 100% no-repeat;
   }

   &__container {}

   &__body {
      color: var(--color-periwinkle-crayola);

      .theme-light & {
         color: var(--color-blackish-blue);
      }

      &>*:not(:last-child) {
         margin-bottom: 64px;

         @media (min-width:1024px) {
            margin-bottom: 96px;
         }
      }
   }

   &__header {
      font-size: 32px;
      line-height: 100%;
      letter-spacing: -0.02em;

      @media (min-width:768px) {
         font-size: 48px;
      }

      @media (min-width:1024px) {
         font-size: 56px;
      }
   }

   &__block {
      font-size: 16px;
      line-height: 122%;
      font-weight: 300;

      @media (min-width:1024px) {
         display: flex;
         font-size: 18px;
      }
   }

   &__block-name {
      margin-bottom: 24px;
      flex: 0 0 324px;
      @include size_adaptive_flex (0, 0, 250, 324, 1024, 1300);

      @media (min-width:1300px) {
         flex: 0 0 324px;
      }
   }

   &__block-content {
      flex: 1 1 auto;
   }

   table {
      margin-top: -16px;
      width: 100%;
      text-align: left;
      border-spacing: 16px;
      // border-collapse: collapse;

      * {
         vertical-align: top;
         font-weight: 300;
      }
   }

   tbody {}

}