@use "../assets/mixin.scss" as *;

.services-section {
   margin-top: 8px;

   &__container {}

   &__body {
      overflow: hidden;
   }

   &__header {
      margin-bottom: 94px;

      @media (min-width:1024px) {
         display: flex;
      }

      &>* {
         flex: 0 0 50%;
      }
   }

   &__header-text {
      margin-bottom: 96px;
      margin-right: 32px;
      max-width: 410px;

      @media (min-width:1024px) {
         margin-bottom: 0;
      }
   }

   &__title {
      margin-bottom: 64px;
      font-size: 32px;
      line-height: 89%;
      letter-spacing: -0.03em;
      color: var(--color-periwinkle-crayola);

      @include size_adaptive (font-size, 32, 72, 375, 1024);

      @media (min-width:1024px) {
         margin-bottom: 64px;
         font-size: 72px;
      }

      .color-text {
         --color-text: var(--color-silver-grey);
      }
   }

   &__button {
      --button-max-width: 292px;
   }

   &__swiper {}

   &__nav {
      display: none;

      @media (min-width:1024px) {
         margin-top: 24px;
         display: flex;
         justify-content: flex-end;
         align-items: center;
      }
   }

   &__pagination {
      margin-right: 20px;
   }
}