@use "../assets/mixin.scss" as *;

.services-section {

   &__container {}

   &__body {
      overflow: hidden;
   }

   &__header {
      margin-bottom: 94px;

      @media (min-width:1024px) {
         display: flex;
      }

      &>* {
         flex: 0 0 50%;
      }
   }

   &__header-text {
      margin-bottom: 96px;
      margin-right: 32px;
      max-width: 410px;

      @media (min-width:1024px) {
         margin-bottom: 0;
      }
   }

   &__title {
      margin-bottom: 64px;
      font-size: 32px;
      line-height: 89%;
      letter-spacing: -0.03em;
      color: var(--color-periwinkle-crayola);

      @include size_adaptive (font-size, 32, 72, 375, 1024);

      @media (min-width:1024px) {
         margin-bottom: 64px;
         font-size: 72px;
      }

      .color-text {
         --color-text: var(--color-silver-grey);
      }
   }

   &__button {
      --button-max-width: 292px;
   }

   &__swiper {}

   &__swiper-slide {
      position: relative;
      min-height: 304px;
      border-radius: 16px;
      overflow: hidden;
      background-color: var(--color-darkpurple-blue);
      @include size_adaptive (min-height, 304, 706, 375, 1024);

      @media (min-width:1024px) {
         min-height: 706px;
      }
   }

   &__swiper-image {
      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__swiper-body {
      padding: 16px;
      display: flex;
      flex-direction: column;
      height: 100%;

      @media (min-width:1024px) {
         padding: 24px;
      }
   }

   &__swiper-icon {
      margin-bottom: 16px;

      @media (min-width:1024px) {
         margin-bottom: 56px;
      }

      img {
         width: 40px;
         height: 40px;

         @media (min-width:1024px) {
            width: 56px;
            height: 56px;
         }
      }
   }

   &__swiper-text {
      flex: 1 1 auto;
      max-width: 400px;
      font-weight: 300;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: var(--color-periwinkle-crayola);

      @include size_adaptive (font-size, 24, 40, 375, 1024);

      @media (min-width:1024px) {
         font-size: 40px;
      }
   }

   &__swiper-footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
   }

   &__swiper-footer-text {
      font-weight: 300;
      font-size: 14px;
      line-height: 112%;
      color: var(--color-silver-grey);
      max-width: 250px;

      @media (min-width:1024px) {
         font-size: 16px;
      }
   }

   &__nav {
      display: none;

      @media (min-width:1024px) {
         margin-top: 24px;
         display: flex;
         justify-content: flex-end;
         align-items: center;
      }
   }

   &__pagination {
      margin-right: 20px;
   }
}