.subscribe {
   position: relative;
   margin-bottom: -96px;
   overflow: hidden;

   @media (min-width:1024px) {
      margin-bottom: -160px;
   }

   &__container {
      position: relative;
   }

   &__background {
      position: absolute;
      bottom: -5%;
      right: 0%;
      width: 100%;
      // transform: translateX(-50%);
      z-index: -1;

      @media (min-width:768px) {
         top: 5%;
         right: -5%;
         bottom: auto;
      }

      @media (min-width:1024px) {
         width: 70%;
      }

      img {
         width: 100%;
      }
   }
}