.theme-color {

   &__button {
      right: calc(50% + var(--size-icon) / 2 + 24px);
      padding: 3px;
      display: flex;
      border: 1px solid #D4D6E3;
      border-radius: 8px;
      opacity: 0.8;

      @media (min-width:1024px) {
         position: absolute;
         border-radius: 12px;
      }

      button {
         --color: #8C98A2;
         --size: calc(var(--size-icon) - 8px);
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 4px;
         border-radius: 8px;
         width: var(--size);
         min-width: var(--size);
         min-height: var(--size);
         transition: background-color 0.3s;

         @media (min-width:1024px) {
            --color: #D4D6E3
         }

         svg {
            width: 50%;

            path {
               fill: var(--color);
            }
         }

         &.active {
            background-color: var(--color);

            svg {
               path {
                  fill: #ffffff;
                  transition: fill 0.3s;

                  @media (min-width:1024px) {
                     fill: #5B6A78;
                  }
               }
            }


         }
      }
   }
}

.img-theme-light {
   display: none;
}

.theme-light {
   .img-theme-dark {
      display: none;
   }

   .img-theme-light {
      display: block;
   }
}