.viewed-earlier {

   &__container {}

   &__body {
      padding-top: 96px;
      padding-bottom: 96px;

      @media (min-width:1024px) {
         margin: 0 auto;
         padding-top: 140px;
         padding-bottom: 160px;
         max-width: 1200px;
      }
   }

   &__title {
      margin-bottom: 64px;
   }
}