.filter {
   .filter-open & {
      right: 0;
   }

   &__form {}

   &__header {}

   &__title {}

   &__clear {
      .clear-hidden & {
         display: none;
      }
   }

   &__open {
      @media (min-width:1366px) {
         display: none;
      }
   }

   &__close {
      @media (min-width:1366px) {
         display: none;
      }
   }

   &__body {}

   &__block {}

   &__category {
      padding-top: 20px;
      padding-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      span {
         position: relative;
      }

      &.mark span::after {
         content: '';
         position: absolute;
         top: 50%;
         right: -16px;
         z-index: 2;
         transform: translateY(-50%);
         width: 6px;
         height: 6px;
         background-color: var(--color-green);
         border-radius: 50%;
      }

      & img {
         transition: transform 0.2s;
      }

      .open-category & img {
         transform: rotate3d(1, 0, 0, 180deg);
      }

   }

   &__list {
      li {
         &:not(:last-child) {
            margin-bottom: 10px;
         }
      }
   }

   &__list-hidden {
      // max-height: 0px;
      height: 0;
      overflow-x: visible;
      overflow-y: hidden;
      transition: height var(--transition-time);

      .open-category & {
         // максимальная высота открытой категории фильтра
         //  max-height: 180px;
      }
   }

   &__check {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      input {
         display: none;

         &:checked+.filter__check-item img {
            display: block;
         }

         &:checked~.filter__check-text {
            color: var(--color-green)
         }
      }
   }

   &__check-item {
      position: relative;
      z-index: 2;
      width: 28px;
      height: 28px;

      img {
         display: none;
      }
   }

   &__check-text {}

   // диапазон
   &__range-inputs {
      padding-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 22px;

      span {
         height: 1px;
         flex: 1 1 auto;
         background-color: var(--color, green);
      }
   }

   &__min,
   &__max {}

   &__range {
      padding-bottom: 30px;
   }

   &__track-range {
      --color-thumb: var(--color-green, green);
      --color-track: var(--color-lightgrey, lightgrey);
      position: relative;
      width: 100%;
      height: 4px;
      background: linear-gradient(90deg, var(--color-track) 0% var(--minGradient),
            var(--color-thumb) var(--minGradient) var(--maxGradient),
            var(--color-track) var(--maxGradient) 100%);
   }

   &__spin-min,
   &__spin-max {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
      height: 4px;
      cursor: pointer;

      svg,
      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 40px;
         height: 40px;
      }
   }

   &__spin-min {
      left: 0;
   }

   &__spin-max {
      left: calc(100% - 4px);
   }

   // кнопки
   &__check-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
   }

   &__check-button {
      display: block;
      flex: 1 1 auto;

      input {
         display: none;

         &:checked+span {
            background-color: var(--color-green);
            border-color: var(--color-green);
         }
      }

      span {
         display: flex;
         align-items: center;
         justify-content: center;
         border: 1px solid var(--color-gray2);
         border-radius: 20px;
         padding: 10px 10px 12px 10px;
         width: 100%;
         height: 43px;
         transition: background-color 0.2s, border-color 0.2s;
      }
   }

   // вертикальный индикатор

   &__vertical-indicator {
      position: relative;
      display: flex;
   }

   &__vertical-indicator-range {
      position: relative;
      margin-left: 15px;
      margin-right: -16px;
      flex: 0 0 4px;
      background-color: var(--color-lightgrey, lightgrey);

      &::after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: var(--indicator-height, 0px);
         background-color: var(--color-green, green);
      }
   }

   &__submit {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 62px;
      font-size: 18px;
      color: var(--color-white);
      background-color: var(--color-green);
   }
}