// .modal {
//    --height-modal: 100vh;
//    position: fixed;
//    top: var(--header-h);
//    left: 0;
//    z-index: 19;
//    width: 100vw;
//    height: var(--height-modal);
//    background-color: var(--color-modal-bg);
//    scrollbar-gutter: stable;
//    overflow-y: auto;
//    overflow-x: hidden;

//    @supports(height: 100dvh) {
//       --height-modal: 100dvh;
//    }

//    @media (min-width:768px) {
//       top: 0;
//       --height-modal: 100vh;

//       @supports(height: 100dvh) {
//          --height-modal: 100dvh
//       }
//    }

//    &__container {
//       padding-top: 20px;
//       padding-bottom: 20px;
//       min-height: var(--height-modal);
//       display: flex;
//       align-items: center;

//       @media (max-width:767.98px) {
//          padding: 0;
//       }
//    }


//    &__body {
//       position: relative;
//       margin: 0 auto;
//       width: 100%;
//       background-color: var(--color-white);

//    }
// }


// .js-modal-hidden {
//    display: none;

//    &.js-modal-visible {
//       display: block;
//    }
// }

.menu-base.js-modal-hidden {
   pointer-events: none;
   transition: opacity 0.3s;
   opacity: var(--opacity-effect, 0);
}

.menu-base.js-modal-hidden.js-modal-visible {
   pointer-events: all;
}

.js-menu-effect {
   height: 0;
   overflow: hidden;
   transition: height 0.4s cubic-bezier(.77, 0, .175, 1);

   @media (min-width:1024px) {
      max-height: calc(var(--vh) - 48px);
      overflow-y: auto;
   }

   &::-webkit-scrollbar {
      display: none;
   }
}

.menu-open .js-modal-visible .js-menu-effect {
   height: var(--height-effect);
   transition: height 0.4s 0.3s cubic-bezier(.77, 0, .175, 1);
}

// .body-overflow {
//    overflow: hidden;
// }