// .modal {
//    --height-modal: 100vh;
//    position: fixed;
//    top: var(--header-h);
//    left: 0;
//    z-index: 19;
//    width: 100vw;
//    height: var(--height-modal);
//    background-color: var(--color-modal-bg);
//    scrollbar-gutter: stable;
//    overflow-y: auto;
//    overflow-x: hidden;

//    @supports(height: 100dvh) {
//       --height-modal: 100dvh;
//    }

//    @media (min-width:768px) {
//       top: 0;
//       --height-modal: 100vh;

//       @supports(height: 100dvh) {
//          --height-modal: 100dvh
//       }
//    }

//    &__container {
//       padding-top: 20px;
//       padding-bottom: 20px;
//       min-height: var(--height-modal);
//       display: flex;
//       align-items: center;

//       @media (max-width:767.98px) {
//          padding: 0;
//       }
//    }


//    &__body {
//       position: relative;
//       margin: 0 auto;
//       width: 100%;
//       background-color: var(--color-white);

//    }
// }


// .js-modal-hidden {
//    display: none;

//    &.js-modal-visible {
//       display: block;
//    }
// }


.modal {
   &__base {
      padding: 16px;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 5;
      width: 100%;
      height: var(--vh);
      background-color: var(--color-lavender);

      @media (min-width:1024px) {
         padding: 0;
         background-color: var(--modal-bg);
         height: 100%;
      }

      .textarea,
      .input-text {
         // color: var(--color-black-02);
         border-color: var(--color-black-02);
      }

      .checkbox-text {
         color: var(--color-black-06)
      }

      .checkbox-item {
         svg path {
            fill: var(--color-orange);
         }
      }
   }

   &__base.js-modal-hidden {
      pointer-events: none;
      transition: opacity 0.3s;
      opacity: var(--opacity-effect, 0);
   }

   &__base.js-modal-hidden.js-modal-visible {
      pointer-events: all;
   }

   &__title {
      margin-bottom: 44px;
      font-weight: 500;
      font-size: 32px;
      line-height: 100%;
      letter-spacing: -0.03em;
   }

   &__content {
      padding: 16px;
      border-radius: 16px;
      background-color: var(--color-lavender);

      @media (min-width:1024px) {
         padding: 24px;
      }

   }

   &__padding {
      padding: 0;

      @media (min-width:1024px) {
         padding-left: var(--padding-container);
         padding-right: var(--padding-container);
         padding-top: 24px;
         padding-bottom: 24px;
      }
   }
}




.js-menu-effect {
   height: 0;
   overflow: hidden;
   transition: height 0.4s cubic-bezier(.77, 0, .175, 1);

   @media (min-width:1024px) {
      max-height: calc(var(--vh) - 48px);
      overflow-y: auto;
   }

   &::-webkit-scrollbar {
      display: none;
   }
}

.menu-open .js-modal-visible .js-menu-effect {
   height: var(--height-effect);
   transition: height 0.4s 0.3s cubic-bezier(.77, 0, .175, 1);
}

// .body-overflow {
//    overflow: hidden;
// }