@use '../assets/variablesSCSS.scss' as *;

.footer {
   position: relative;
   z-index: 1;
   margin-top: 96px;
   padding-bottom: 96px;

   @media (min-width:1024px) {
      margin-top: 160px;
      padding-bottom: 24px;
   }

   &__container {}

   &__body {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 8px;
      --button-color: var(--color-periwinkle-crayola);

      @media (min-width:1024px) {
         grid-template-columns: repeat(3, 1fr);
      }
   }

   &__top {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      @media (max-width:1023.98px) {
         min-height: 140px;
      }

      @media (min-width:1024px) {
         flex-direction: row;
         align-items: center;
         grid-column: span 2;
      }
   }

   &__base {
      padding: 16px;
      border-radius: 24px;
      background-color: var(--color-blackish-blue);
      color: var(--color-periwinkle-crayola);

      @media (min-width:1024px) {
         padding: 24px;
      }

      .theme-light & {
         background-color: var(--color-light-bg-container);
         color: var(--color-blackish-blue);
      }
   }

   &__button {
      margin-top: 48px;
      flex: 1 1 auto;
      display: flex;
      align-items: flex-end;
      --button-border-color: var(--color-periwinkle-crayola-02);

      @media (min-width:1024px) {
         margin-top: 32px;
      }
   }

   &__logo {
      width: 100%;
      max-width: 210px;

      @media (min-width:1024px) {
         max-width: 420px;
      }

      img,
      svg {
         max-width: 100%;
      }
   }

   &__copyright {
      width: 100%;
      max-width: 227px;
      font-size: 14px;
      color: var(--color-silver-grey);

      .theme-light & {
         color: var(--color-pigeon-blue);
      }
   }

   &__contacts {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width:1023.98px) {
         min-height: 124px;
      }
   }

   &__contacts-email {
      font-weight: 500;
      font-size: 16px;
      line-height: 112%;
   }

   &__contacts-tel {
      font-weight: 300;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: -0.02em;

      @media (min-width:1024px) {
         font-size: 40px;

      }
   }

   &__address {
      display: flex;
      flex-direction: column;
      font-style: normal;
   }

   &__addres-title {
      margin-bottom: 12px;
      font-size: 16px;
      line-height: 112%;
      color: var(--color-silver-grey);

      .theme-light & {
         color: var(--color-pigeon-blue);
      }
   }

   &__address-text {
      font-weight: 500;
      font-size: 16px;
      line-height: 112%;

      &:not(:last-child) {
         margin-bottom: 24px;
      }
   }

   &__addres-block {
      display: flex;

      &>* {
         flex: 0 0 50%;
      }
   }

   &__form {
      grid-row: span 2;
      display: flex;
      flex-direction: column;
   }

   &__form-title {
      margin-bottom: 44px;
      font-weight: 500;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: -0.03em;

      @media (min-width:1024px) {
         font-size: 32px;
      }
   }


}