@use '../assets/variablesSCSS.scss' as *;

.header {
   position: relative;
   z-index: 5;
   padding-top: 16px;
   padding-bottom: 16px;

   @media (min-width:1024px) {
      padding-top: 24px;
      padding-bottom: 24px;
   }

   &__container {}

   &__body {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__wrapper {
      flex: 1 1 40%;
   }

   &__right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 8px;

      @media (min-width:1024px) {
         gap: 16px;
      }
   }

   &__logo {
      display: inline-block;
      max-width: 187px;

      @media (min-width:1024px) {
         padding: 12px 24px;
         max-width: 285px;
      }

      svg {
         max-width: 100%;

         // path {
         //    fill: var(--color-periwinkle-crayola)
         // }
      }
   }

   &__button-menu {
      --size-icon: 40px;

      @media (min-width:1024px) {
         --size-icon: 56px;
      }
   }

   &__button-login {

      @media (max-width:1023.98px) {
         --size-icon: 40px;
         background-color: transparent;
         border: 1px solid var(--color-black-02);

         svg path {
            stroke: var(--color-black);
         }
      }

      @media (min-width:1024px) {
         --size-icon: 56px;
      }
   }

   &__buttons-right-mobile {
      @media (max-width:1023.98px) {
         display: flex;
         gap: 8px;
      }
   }

   &__button-contact {
      --button-max-width: 272px;
      --button-background: var(--color-white);
      --button-border-color: var(--color-white);
   }
}

.presentation {
   .header__logo {
      svg path {
         fill: var(--color-black)
      }
   }

   .header__button-contact {
      --button-background: var(--color-black);
      --button-color: var(--color-periwinkle-crayola);
   }
}