//  отступы по бокам контейнера 
$padding-mobile: 16px;
$padding-tablet: 20px;
$padding-desktop: 24px;
//  максимальный размер контента в контейнере 
$width-content: 1392px;
//  максимальный размер контейнера с отступами 
$max-width-container: $padding-desktop * 2 + $width-content;
//  transition time 
$tr-time: .3s;
$tr-time-l: .7s;
$bezier: cubic-bezier(.6, -0.01, .24, 1);