//  отступы по бокам контейнера 
$padding-mobile: 16px;
$padding-tablet: 20px;
$padding-desktop: 24px;
//  максимальный размер контента в контейнере 
$width-content: 1872px;
//  максимальный размер контейнера с отступами 
$max-width-container: $padding-desktop * 2 + $width-content;
//  transition time 
$tr-time: .3s;
$tr-time-l: .7s;
$bezier: cubic-bezier(.6, -0.01, .24, 1);

$min-padding-x: 16px;
$max-padding-x: 96px;
$min-margin-x: 0;

$large-min: 96px;
$large-max: 160px;
$medium-min: 48px;
$medium-max: 96px;